<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <title>exchange reference rates</title>
</head>
<body>
<div class="container">
    {% if rates|length %}
        {% set actual = rates[0].publishedAt|date('d.m.Y') %}
        <h2>{{ actual }}</h2>
        {% include 'partial/dates.html.twig' %}
        {% for rate in rates %}
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            EUR / {{ rate.currency.code }}
                        </div>
                        <div class="col-md-6 text-right">
                            {{ rate.rate|number_format(8) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            {{ rate.currency.code }} / EUR
                        </div>
                        <div class="col-md-6 text-right">
                            {{ (1 / rate.rate)|number_format(8) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <br>
        {% include 'partial/pagination.html.twig' %}
    {% else %}
        <h2>No rates found at given date: {{ date }}</h2>
    {% endif %}
</div>
</body>
</html>
