<nav aria-label="navigation">
    <ul class="pagination">
        {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ path('index') ~ '?page=' ~ (page - 1) ~ '&date=' ~ date }}">prev</a>
            </li>
        {% endif %}
        {% for item in pagination(7, max, page) %}
            {% if item == -1 %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{ path('index') ~ '?page=' ~ item ~ '&date=' ~ date }}#">...</a>
                </li>
            {% elseif item == page %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{ path('index') ~ '?page=' ~ item ~ '&date=' ~ date }}#">{{ item }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('index') ~ '?page=' ~ item ~ '&date=' ~ date }}">{{ item }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page < max %}
            <li class="page-item">
                <a class="page-link" href="{{ path('index') ~ '?page=' ~ (page + 1) ~ '&date=' ~ date }}">next</a>
            </li>
        {% endif %}
    </ul>
</nav>
